.calorias-verde {
  color: green;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 10px;
}

.dieta-azul {
  color: blue;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

ion-button {
  --background: #ff6f00;
  --color: #fff;
  font-weight: bold;
  border-radius: 12px;
  margin-top: 15px;
}
